@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
    @Html.LabelFor(model => model.InstallDate)
  @Html.TextBoxFor(model => model.InstallDate, new { type="date"} )

  <input type="submit" value="Add new machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>